<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  Файл конфигурации приложения.
  Содержит настройки приложения, включая версию платформы .NET Framework.
-->
<configuration>
    <startup> 
        <!-- Указывает, что приложение работает на .NET Framework версии 4.7.2 -->
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>